<!--
  Generated template for the ListClientsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar style="display:inline-flex;">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title (click)="goToHomePage()">Sales&Go</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-icon name="md-person" item-start>
    </ion-icon>
    <ion-searchbar [(ngModel)]="myInput" placeholder="Client Name" showCancelButton color="danger" (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-item>
  <ion-list style=" margin-bottom:70px;">
    <ion-item-sliding *ngFor="let client of modifiedData" (click)="openClient(client.Cliente)">
      <ion-item>
        <h2>{{client.nome}}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="startCart($event,client.Cliente)">
          <ion-icon name="cart"></ion-icon>
          Cart
        </button>
        <button *ngIf="client.Fac_Tel" ion-button color="secondary" (click)="callClient($event,client.Fac_Tel)">
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <ion-fab bottom right style="padding-bottom: 6em; padding-right: 1.8em">
    <button (click)="createNewClient()" ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

<nav-tabs></nav-tabs>
