page-login {

    h2 {
        font-weight: bold; 
        font-size: 2em; 
        color: rgb(78, 78, 78);
        padding-top: 5em;
        padding-left: 2em;
    }

    h3 {
        font-size: 1.6em; 
        color: rgba(128, 128, 128, 0.849);
        padding-top: 0.5em;
        padding-left: 2.5em;
    }

    .login {
        text-align: center;
    }

    
}
