page-login {

    #div_logo {
        transition: height 0.2s;
    }

    h2 {
        font-weight: bold; 
        font-size: 2em; 
        color: rgb(78, 78, 78);
        padding-top: 1em;
        padding-left: 1.9em;
    }

    h3 {
        font-size: 1.6em; 
        color: rgba(128, 128, 128, 0.849);
        padding-top: 0.3em;
        padding-left: 2.5em;
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0;
    }

    .login {
        text-align: center;
    }

    .button {
        width: 18.5em;
        height: 3.5em;
        border-radius: 6px;
        margin-top: 2em;
    }

   .fields {
       max-width: 70%;
       margin-left: 3em;
       padding: 0em;  
   }

   .input-cover {
       position: static;
    }
  
}
