<ion-header>
  <ion-navbar>
    <ion-title>Sales&Go</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <h2 text-center>Dashboard</h2>
  <ion-grid text-center>

    <ion-row>
      <ion-col>
        <button ion-button large round icon-only class="contact-btn home_button" (click)="openClients()">
          <ion-icon name="contact"></ion-icon>
        </button>
        <div class="clients">
          <h6>CLIENTS</h6>
        </div>
      </ion-col>
      <ion-col>
        <button ion-button large round icon-only class="calendar-btn home_button" (click)="openCalendar()">
          <ion-icon name="calendar"></ion-icon>
        </button>
        <div class="calendar">
          <h6>CALENDAR</h6>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button large round icon-only class="catalogue-btn home_button" (click)="openCatalogue()">
          <ion-icon name="list-box"></ion-icon>
        </button>
        <div class="catalogue">
          <h6>CATALOGUE</h6>
        </div>
      </ion-col>
      <ion-col>
        <button ion-button large round icon-only class="cart-btn home_button" (click)="openOrders()">
          <ion-icon name="cart"></ion-icon>
        </button>
        <div class="orders">
          <h6>ORDERS</h6>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-scroll scrollY="true" style="height: 47%">

      <ion-grid text-center>
  
        <div *ngIf="!dispEvents.length">Porra nao ha eventos</div>
  
        <ion-card style="height: 10em" *ngFor="let event of dispEvents">
          <ion-grid style="height: 100%">
            <ion-row style="height: 100%" align-items-center>
              <ion-col col-2>
                <ion-icon large style="font-size: 30px;" name="time"></ion-icon>
              </ion-col>
              <ion-col>
                <h2 style="text-align: left;font-weight: bold; color: rgb(0, 204, 126);">{{event.title}}</h2>
                <h2 style="text-align: left;color: #666;">{{event.start}}</h2>
              </ion-col>
            </ion-row>
            <ion-row style="height: 100%" align-items-center>
              <ion-col col-2>
                <ion-icon large style="font-size: 30px;" name="contact"></ion-icon>
              </ion-col>
              <ion-col>
                <h2 style="text-align: left">Meet {{event.client}}</h2>
                <p style="text-align: left;color: #666;">{{event.location}}</p>
              </ion-col>
              <ion-col col-4>
                <button ion-button (click)="openMap($event.location);">
                  Open Map
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-grid>
    </ion-scroll>

  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>