<!-- Generated template for the NavTabsComponent component -->
<ion-footer>
  <ion-toolbar>
    <div class="container">

      <button ion-button large round icon-only class="item home-btn" (click)="openHome()">
        <ion-icon name="home"></ion-icon>
      </button>
      <button ion-button large round icon-only class="item contact-btn" (click)="openClients()">
        <ion-icon name="contact"></ion-icon>
      </button>
      <button ion-button large round icon-only class="item calendar-btn" (click)="openCalendar()">
        <ion-icon name="calendar"></ion-icon>
      </button>
      <button ion-button large round icon-only class="item catalogue-btn" (click)="openCatalogue()">
        <ion-icon name="list-box"></ion-icon>
      </button>
      <button ion-button large round icon-only class="item cart-btn" (click)="openOrders()">
        <ion-icon name="cart"></ion-icon>
      </button>

    </div>
  </ion-toolbar>
</ion-footer>